.body-main {
 
  min-width: fit-content;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: wheat;
}